*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html{
  font-family: 'Poppins', sans-serif;
  font-size:15px;
}

main{
  height:100vh;
  width:100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}



.sidebar{
  height: calc(100% - 100px);
  width:200px;
  background-color:#181818;
  overflow-y: scroll;
  overflow: hidden;
}

.sidebar-top{
  height:calc(100% - 100px);
  width:100%;
  min-height:70%;


}

.sidebar-logo{
  min-height:20%;
  width: 100%;
  padding:20px;
}

.sidebar-menu{
  height:30%;
  width:100%;
  padding:10px 0 0 20px;


}

.sidebar-playlist{
  height:50%;
  overflow-y: auto;
  padding:10px 0 0 20px;
}

.menu{
  height:30px;
  line-height: 30px;
}

.menu > img{
    width:20px;
    height:20px;
    vertical-align: middle;
}

.menu > a{
  text-decoration: none;
  color:#fff;
  vertical-align: middle;
  display: inline-block;
  font-size:0.8rem;
}

.sidebar-playlist > h4 {
  color:#fff;
  font-size:1.7;
}

.sidebar-playlist > div > h5 {
  color:lightgrey;
  display: inline-block;
  font-size:1rem;
  vertical-align: middle;
  line-height:30px;
}

.sidebar-playlist > ul {
  margin-top:20px;
}
.sidebar-playlist > ul >li{
  color: lightgrey;
  font-size:0.8rem;
  list-style: none;

}
.square{
  height:30px;
  width:30px;
  background-color:lightgrey;
  display: inline-block;
}

.square > p{
  font-size:2rem;
  vertical-align: middle;
  line-height:30px;
  text-align: center;
}

.sidebar-bottom{
  height: 100px;
  overflow: hidden;
  text-align:
}

.sidebar-bottom > img:first-of-type{
  width:20px;
  height:20px;
}
.sidebar-bottom > span:first-of-type{
  color:lightgrey;
  font-size:1rem;
}
.sidebar-bottom > img:last-of-type{
  width:30px;
  height:30px;
  background-color:lightgrey;
  border-radius:50%;
}
.sidebar-bottom > span:last-of-type{
  color:#fff;
  font-size:1.3rem;
  font-weight: bold;
}


.jumbotron{
  height:calc(100% - 100px);
  width:calc(100% - 200px);
  background-color:#151921;
  overflow: scroll;
  overflow-x: hidden;
  position: relative;
}

.upgrade{
  height:80px;
  width:100%;
  overflow:scroll;
  background-color:#8b11;
  text-align: right;
}
.upgrade > a{
  vertical-align: middle;
  line-height:80px;
  background-color:#8b11;
  color:#fff;
  border: 1px solid #fff;
  border-radius:20px;
  padding: 5px 20px;
  text-decoration: none;
}

.menu-music > ul{
  text-align: center;
  padding-top:15px;
}

.menu-music > ul > li{
    list-style: none;
    display: inline-block;
    text-align: center;
}

.menu-music > ul > li > a{
  color:lightgrey;
  text-decoration: none;
  font-weight: bold;
  font-size:1rem;
  padding-left:5px;
  padding-right:5px;
}

.cont-flex{
  display: flex;
  flex-wrap:nowrap;
  flex-direction: row;
}

.music{
  padding-left:10px;
  padding-right:10px;
  margin-top:30px;
}

.music > div > h2{
  color:#fff;
  font-size:2rem;
  padding:10px;
  }
  .music > div > p{
    color:lightgrey;
    font-size: 0.8rem;
    padding:0 10px;
  }
.album > div > h4{
  color:#fff;
  font-size:0.8rem;
  padding-top:10px;
  font-weight: 700;
  text-align: center;
}

.album > div > p{
  color:lightgrey;
  font-size: 0.6rem;
  padding-top:10px;
  text-align: center;
}

.album {
  width: calc(100% / 6);
  padding:10px;
}

#circle{
  border-radius:50%;
}

.player-music{
   height:100px;
   width:100%;
   background-color:#282828;
}


@media screen and (min-width:1100px){

}

@media screen and (max-width:900px) and (min-width:1099px){

}

@media screen and (max-width:700px) and (min-width:899px){

}

@media screen and (max-width:699px){

}
